<div class="site-body">
    <app-nav></app-nav>

    <div class="debut">
        <div class="fond-debut">
            <div class="fond-d-text">
                <h2>A propos</h2>
                <div class="fond-link">
                    <a href="index.php?p=accueil">accueil <i class="fa fa-arrow-right"></i></a>
                    <a href="index.php?p=apropos">a propos</a>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------DEBUT BIEVENUE-APROPOS ------------------------------------>
    <!------------------------------------DEBUT BIEVENUE-APROPOS ------------------------------------>
    <div class="welcom-apropos">
        <div class="welcom-apropos-1">

            <div class="presentation">
                <div class="pr-titre">
                    <h2 class="re-5">Presentation</h2>
                    <p class="re-6">L'Association CONGO ESPOIR, COE en sigle, a été créé en date du 06 Octobre 2006
                        à
                        l'initiative de <a href=""> Madame KIBIBI LUKINDE Nancy</a> qui réunit autour d'elle un
                        groupe des personnes pour essayer d'apporter des solutions aux problèmes de l'enfant
                        orphelin qui est en situation difficile.
                    </p><br>
                </div>

                <div class="pr-section">
                    <div class="pr">
                        <h4 class="re-5">Organes</h4>
                        <p class="re-6"> L'Association CONGO ESPOIR elle est composée de quatre organes :</p>
                        <p class="re-5">- Le Conseil d'administration</p>
                        <p class="re-6">- L' Assemblée générale</p>
                        <p class="re-5">- La Coordination générale</p>
                        <p class="re-6">- Le Commissaire aux comptes</p>
                    </div>
                    <div class="pr">
                        <h4 class="re-5">Membres</h4>
                        <p class="re-6">L'Association CONGO ESPOIR comprend les catégories des membres suivant :</p>
                        <p class="re-5">- Les membres effectifs</p>
                        <p class="re-6">- Les membres d'honneurs</p>
                        <p class="re-5">- Les membres fondateurs</p>
                        <p class="re-6">- Les membres co-fondateurs</p>
                    </div>
                    <div class="pr">
                        <h4 class="re-5">Ressources financiéres</h4>
                        <p class="re-6">Les ressources pour le financement de CONGO ESPOIR proviennent des :</p>
                        <p class="re-5">- Contribution statutaires des membres</p>
                        <p class="re-6">- Subventions du gouvernement de la RD Congo</p>
                        <p class="re-5">- Contributions volontaires du secteur privé et des organisations
                            bilatérales et multilatérales</p>
                        <p class="re-6">- Des activités de mobilisations de fonds</p>
                        <p class="re-5">- Des dons</p>
                        <p class="re-6">- Des legs</p>
                        <p class="re-5">- Des prestations de services.</p>
                    </div>
                </div>
            </div>

            <div class="espoire">
                <div class="esp-titre">
                    <h2 class="re-5">Congo espoir</h2>
                    <p class="re-6"> est enregistré au secrétariat général des Affaires Sociales, Action
                        humanitaire et Solidarité
                        Nationale sous le n°003/l/2016 et Ministère de la Justice sous le n°JUST/S-
                        G/20/3246/2014.
                    </p>
                </div>
            </div>

            <div class="realise">
                <div class="real-titre">
                    <h2 class="re-5">Activites Realisées</h2>
                    <p class="re-6"> Depuis sa création, plusieurs activités ont été réalisées telle que :</p>
                    <p>* La création d'un centre d'hergement des orphelins</p>
                    <p>* La formation du personnel d'appui à l'orphelinat</p>
                    <p>* L'accueil des enfants orphelins</p>
                    <p>* La mobilisation des ressources</p>
                </div>
            </div>
        </div>

        <!------------------------------------FIN BIEVENUE-APROPOS ------------------------------------>
        <!------------------------------------FIN BIEVENUE-APROPOS ------------------------------------>



        <!------------------------------------DEBUT MISSION ------------------------------------>
        <!------------------------------------DEBUT MISSION ------------------------------------>
        <div class="mission">
            <div class="mission-1">
                <div class="mission-text miss-titre">
                    <h2 class="re-5">Nos objectifs</h2>
                    <p class="re-6">L'Association CONGO ESPOIR poursuit principalement comme objectif </p>
                </div>

                <div class="section">
                    <div class="section-1">
                        <div class="section-image im-1">
                            <div class="overlay">
                                <span class="number_1"></span>
                            </div>
                            <img src="./public/images/site/mission/mission-1.jpg">
                        </div>
                        <div class="section-text">
                            <h4 class="re-5">Hébergement et Education</h4>
                            <p class="re-6">inappropriate behavior is often laughed off as “boys will be
                                boys,”
                                women face higher conduct standards especially in the workplace that’s why
                                it’s
                                crucial.
                            </p>
                        </div>
                    </div>

                    <div class="section-1">
                        <div class="section-image im-1">
                            <div class="overlay">
                                <span class="number_2"></span>
                            </div>
                            <img src="./public/images/site/mission/mission-2.jpg">
                        </div>
                        <div class="section-text">
                            <h4 class="re-5">Prévention et Protection</h4>
                            <p class="re-6">inappropriate behavior is often laughed off as “boys will be
                                boys,”
                                women face higher conduct standards especially in the workplace that’s why
                                it’s
                                crucial.
                            </p>
                        </div>
                    </div>

                    <div class="section-1">
                        <div class="section-image im-1">
                            <div class="overlay">
                                <span class="number_3"></span>
                            </div>
                            <img src="./public/images/site/mission/mission-3.jpg">
                        </div>
                        <div class="section-text">
                            <h4 class="re-5">Nutrition</h4>
                            <p class="re-6">inappropriate behavior is often laughed off as “boys will be
                                boys,”
                                women face higher conduct standards especially in the workplace that’s why
                                it’s
                                crucial.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------FIN MISSION ------------------------------------>
        <!------------------------------------FIN MISSION ------------------------------------>


        <!------------------------------------DEBUT FUTURE-APROPOS ------------------------------------>
        <!------------------------------------DEBUT FUTURE-APROPOS ------------------------------------>
        <div class="future-apropos">
            <div class="future-image-a"></div>
            <div class="future-a-1">
                <div class="future-a-text">
                    <h2 class="re-5">PERSPECTIVES D'AVENIR</h2>
                </div>

                <div class="section-future-a">
                    <div class="s-future-1-a">
                        <span><i class="fa fa-globe"></i></span>
                        <p class="re-6">Expansion de CONGO ESPOIR sur toute l'étendue de la République
                            Démocratique du Congo</p>
                    </div>
                    <div class="s-future-1-a">
                        <span><i class="fa fa-book"></i></span>

                        <p class="re-6">Création d'une école pour la scolarisation des enfants
                            orphelins,
                        </p>
                    </div>
                    <div class="s-future-1-a">
                        <span><i class="fa fa-hospital-o"></i></span>
                        <p class="re-6">Création d'un centre médical pour la prise en charge médicale
                            des
                            enfants orphelins</p>
                    </div>
                    <div class="s-future-1-a">
                        <span><i class="fa fa-cogs"></i></span>
                        <p class="re-6">Un centre d'apprentissage aux métiers</p>
                    </div>
                </div>
            </div>
        </div>

        <!------------------------------------FIN FUTURE-APROPOS ------------------------------------>
        <!------------------------------------FIN FUTURE-APROPOS ------------------------------------>

        <!------------------------------------DEBUT PARTAINER-APROPOS ------------------------------------>
        <!------------------------------------DEBUT PARTAINER-APROPOS ------------------------------------>
        <div class="partainer-apropos">
            <div class="partainer-a-1">
                <div class="part-logo-a">
                    <img src="./public/images/site/partainer-logo/c-logo-1.png" alt="">
                </div>

                <div class="part-logo-a">
                    <img src="./public/images/site/partainer-logo/c-logo-2.png" alt="">
                </div>

                <div class="part-logo-a">
                    <img src="./public/images/site/partainer-logo/c-logo-3.png" alt="">
                </div>

                <div class="part-logo-a">
                    <img src="./public/images/site/partainer-logo/c-logo-4.png" alt="">
                </div>

                <div class="part-logo-a">
                    <img src="./public/images/site/partainer-logo/c-logo-5.png" alt="">
                </div>
            </div>
        </div>
        <!------------------------------------FIN PARTAINER-APROPOS ------------------------------------>
        <!------------------------------------FIN PARTAINER-APROPOS ------------------------------------>
    </div>
    
    <app-footer></app-footer>
</div>