<div class="site-body">
    <app-nav></app-nav>
    <div class="debut">
        <div class="fond-debut">
            <div class="fond-d-text">
                <h2>donation</h2>
                <div class="fond-link">
                    <a href="index.php?p=accueil">accueil <i class="fa fa-arrow-right"></i></a>
                    <a href="index.php?p=evenement">donation</a>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="donation">
        <div class="donation-1">
            <div class="dona-texte">
                <h1 class="re-1">Faire un don à l'orphelinat congo espoir</h1>
                <p class="re-2">L'orphelinat congo espoir a besoin de votre aide , votre générosité permettra de financer les différentes actions de l'orphelinat congo espoir.
                </p>
            </div>
    
            <div class="dona-section">
                <div class="dona-sec">
                    <img src="../../../../assets/ressources/image/donate/d-1.png" alt="">
                    <div class="bloc-text">
                        <p class="p1 re-1"> Si vous souhaitez soutenir financièrement les différents projets, activités et actions de notre orphelinat, vous pouvez effectuer un virement à l'aide des coordonnées mobiles suivantes :</p>
                        <p class="num-don re-2"> +243 815788390</p>
                        <p class="num-don re-3"> +243 815788390</p>
                    </div>
                </div>
                <div class="dona-sec">
                    <img src="../../../../assets/ressources/image/donate/d-2.jpg" alt="">
                    <div class="bloc-text">
                        <p class="p1 re-1"> Si vous souhaitez soutenir financièrement les différents projets, activités et actions de notre orphelinat, vous pouvez effectuer un virement à l'aide des coordonnées mobiles suivantes :</p>
                        <p class="num-don re-2"> +243 815788390</p>
                        <p class="num-don re-3"> +243 815788390</p>
                    </div>
                </div>
                <div class="dona-sec">
                    <img src="../../../../assets/ressources/image/donate/d-3.jpg" alt="">
                    <div class="bloc-text">
                        <p class="p1 re-1"> Si vous souhaitez soutenir financièrement les différents projets, activités et actions de notre orphelinat, vous pouvez effectuer un virement à l'aide des coordonnées mobiles suivantes :</p>
                        <p class="num-don re-2"> +243 815788390</p>
                        <p class="num-don re-3"> +243 815788390</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>