<div class="site-body">
    <app-nav></app-nav>
    <div class="debut">
        <div class="fond-debut">
            <div class="fond-d-text">
                <h2>contact</h2>
                <div class="fond-link">
                    <a href="index.php?p=accueil">accueil <i class="fa fa-arrow-right"></i></a>
                    <a href="index.php?p=evenement">contact</a>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------DEBUT MAP ------------------------------------>
    <!------------------------------------DEBUT MAP ------------------------------------>
    <div class="map">
        <div class="map-1" id="map-example-container">
    
        </div>
        <input type="search" id="input-map" class="form-control" placeholder="Tape l'addresse ici" />
    
    </div>
    <!------------------------------------FIN MAP ------------------------------------>
    <!------------------------------------FIN MAP ------------------------------------>
    
    <div class="contact">
        <div class="contact-1">
            <div class="addresse-contact">
                <div class="addresse-c-1">
                    <span class="right home"><i class="fa fa-home"></i></span>
                    <div>
                        <h6>Kinshasa,Rdc</h6>
                        <p>58, av. MBANZA-BOMA Q/Manenga Gulf, C/Ngaliema</p>
                    </div>
                </div>
    
                <div class="addresse-c-1">
                    <span class="right phone"><i class="fa fa-phone"></i></span>
                    <div>
                        <h6>+243 999 908 404</h6>
                        <h6>+243 858 849 961</h6>
                        <h6>+243 898 473 814</h6>
                    </div>
                </div>
    
                <div class="addresse-c-1">
                    <span class="right envelop"><i class="fa fa-envelope"></i></span>
                    <div>
                        <h6>Congoespoirong@gmail.com</h6>
                    </div>
                </div>
            </div>
    
            <div class="formulaire">
    
    
                <form action="" method="post" class="formu-1">
                    <div class="input-txt">
                        <div class="group-form">
                            <input type="text" name="prenom" id="" required placeholder="Entrez votre prenom">
                        </div>
    
                        <div class="group-form">
                            <input type="email" name="email" id="" required placeholder="Entrez votre email">
                        </div>
    
                        <div class="group-form">
                            <input type="text" name="sujet" id="" required placeholder="Entrez votre sujet">
                        </div>
                    </div>
    
                    <div class="textarea">
                        <div class="group-form">
                            <textarea name="message" id="" required cols="30" rows="10" placeholder="Entrez votre message"></textarea>
                        </div>
                    </div>
    
                    <div class="group-form">
                        <div class="btn-input">
                            <button type="submit">Envoyer message</button>
                        </div>
                    </div>
    
                </form>
    
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>