<div class="site-body">
    <app-nav></app-nav>
    <!------------------------------------DEBUT FOND-SITE ------------------------------------>
    <!------------------------------------DEBUT FOND-SITE ------------------------------------>
    <div class="fond-site">
        <div class="fond-text">
            <h5 class="re-1">NOUS AVONS BESOIN DE VOTRE AIDE POUR SERVIR LES GENS</h5>
            <h3 class="re-2">Aider les enfants orphelins</h3>
            <p class="re-3">If you are looking at blank cassettes on the web, you may be very confused at the <br>
                difference in price. You may see some for as low as $.17 each.</p>
        </div>
    </div>

    <!------------------------------------FIN FOND-SITE ------------------------------------>
    <!------------------------------------FIN FOND-SITE ------------------------------------>

    <!------------------------------------DEBUT BIENVENUE ------------------------------------>
    <!------------------------------------DEBUT BIENVENUE ------------------------------------>

    <div class="bienvenue">
        <div class="bienvenue-1">
            <div class="b-text">
                <h4 class="re-1">Bienvenue à congo Espoir</h4>
                <p class="re-2">
                    Dans le souci de contribuer à la promotion et à la défense des droits de l'enfant orphelin dans le
                    monde
                    en général et en particulier en République Démocratique du Congo, Eprises d'un sentiment de
                    compassion
                    quant au triste sort que subissent les enfants en général et en particulier les orphelins.
                    Conscients de la tragédie que vivent les enfants orphelins victime de violences, de l'intolérance,
                    de
                    conflits et de violation de presque la quasi-totalité de leur droit reconnue par la constitution de
                    la
                    République Démocra¬tique du Congo, la déclaration universelle des droits de l'homme, la convention
                    des
                    nations unies relatives aux droits de l'enfant ratifiées par tous les pays du monde y compris la
                    République Démocratique du Congo et par plusieurs autres instruments juridiques nationaux, régionaux
                    et
                    internationaux de l'enfance.
                    Préoccupées par l'amélioration de la situa¬tion sociale et le développement intégral des enfants
                    orphelins qui constituent la couche la plus vulnérable. Et la plus meurtrie durant les situations de
                    crise sociale.
                    Toucher par l'enfant orphelin que Madame <a href="#fonda">KIBIBI LUKINDE Nancy</a> et autres se sont
                    mis
                    ensemble pour créer une organisation non gouvernementale dénommé <a href="">CONGO ESPOIR</a> qui se
                    veut
                    une association nationale de droits congolais impliquée dans la promotion et la défense des droits
                    de
                    l'enfant orphelin en République Démocratique du Congo.
                    L'Association <a href="">CONGO ESPOIR</a> , COE en sigle, a été créé en date du 06 Octobre 2006 à
                    l'initiative de Madame <a href="#fonda">KIBIBI LUKINDE Nancy</a> qui réunit autour d'elle un groupe
                    des
                    personnes pour essayer d'apporter des solutions aux problèmes de l'enfant orphelin qui est en
                    situation
                    difficile.
                </p>
            </div>
            <div class="b-image re-4">
                <img src="../../../../assets/ressources/image/welcome.png">
            </div>
        </div>
    </div>

    <!------------------------------------FIN BIENVENUE ------------------------------------>
    <!------------------------------------FIN BIENVENUE ------------------------------------>

    <div class="mission">
        <div class="mission-1">
            <div class="mission-text miss-titre">
                <h2 class="re-5">Nos objectifs</h2>
                <p class="re-6">L'Association CONGO ESPOIR poursuit principalement comme objectif </p>
            </div>

            <div class="section">
                <div class="section-1">
                    <div class="section-image">
                        <div class="overlay">
                            <span class="number_1"></span>
                        </div>
                        <img src="../../../../assets/ressources/image/mission/mission-1.jpg">
                    </div>
                    <div class="section-text">
                        <h4 class="re-5">Hébergement et Education</h4>
                        <p class="re-6">inappropriate behavior is often laughed off as “boys will be
                            boys,”
                            women face higher conduct standards especially in the workplace that’s why
                            it’s
                            crucial.
                        </p>
                    </div>
                </div>

                <div class="section-1">
                    <div class="section-image">
                        <div class="overlay">
                            <span class="number_2"></span>
                        </div>
                        <img src="../../../../assets/ressources/image/mission/mission-2.jpg">
                    </div>
                    <div class="section-text">
                        <h4 class="re-5">Prévention et Protection</h4>
                        <p class="re-6">inappropriate behavior is often laughed off as “boys will be
                            boys,”
                            women face higher conduct standards especially in the workplace that’s why
                            it’s
                            crucial.
                        </p>
                    </div>
                </div>

                <div class="section-1">
                    <div class="section-image">
                        <div class="overlay">
                            <span class="number_3"></span>
                        </div>
                        <img src="../../../../assets/ressources/image/mission/mission-3.jpg">
                    </div>
                    <div class="section-text">
                        <h4 class="re-5">Nutrition</h4>
                        <p class="re-6">inappropriate behavior is often laughed off as “boys will be
                            boys,”
                            women face higher conduct standards especially in the workplace that’s why
                            it’s
                            crucial.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------FIN MISSION ------------------------------------>
    <!------------------------------------FIN MISSION ------------------------------------>


    <!------------------------------------DEBUT EVENEMENT ------------------------------------>
    <!------------------------------------DEBUT EVENEMENT ------------------------------------>
    <div class="evenement">
        <div class="evenement-1">

            <div class="event-titre">
                <h2 class="re-5">Evènements</h2>
            </div>

            <div class="flexbox">
                <div class="event-flex">
                    <div class="event-image">
                        <img src="../../../../assets/ressources/image/mission/mission-1.jpg" alt="">
                    </div>

                    <div class="event-info">
                        <a href="" class="re-1">
                            2020-07-06 14:39:17
                        </a>
                        <h4 class="re-2"><a href="">La fondatrice et ses personnels</a></h4>
                        <p class="re-3">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo error at, nihil
                            dolorum, culpa consequatur eveniet, animi accusantium adipisci natus vi ...
                        </p>
                        <a href="" class="link-ev">Voir plus...</a>
                    </div>

                </div>

                <div class="event-flex">

                    <div class="event-image">
                        <img src="../../../../assets/ressources/image/mission/mission-1.jpg" alt="">
                    </div>

                    <div class="event-info">
                        <a href="" class="re-1">
                            2020-07-06 14:39:17
                        </a>
                        <h4 class="re-2"><a href="">La fondatrice et ses personnels</a></h4>
                        <p class="re-3">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo error at, nihil
                            dolorum, culpa consequatur eveniet, animi accusantium adipisci natus vi ...
                        </p>
                        <a href="" class="link-ev">Voir plus...</a>
                    </div>

                </div>

                <div class="event-flex">

                    <div class="event-image">
                        <img src="../../../../assets/ressources/image/mission/mission-2.jpg" alt="">
                    </div>

                    <div class="event-info">
                        <a href="" class="re-1">
                            2020-07-06 14:39:17
                        </a>
                        <h4 class="re-2"><a href="">La fondatrice et ses personnels</a></h4>
                        <p class="re-3">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo error at, nihil
                            dolorum, culpa consequatur eveniet, animi accusantium adipisci natus vi ...
                        </p>
                        <a href="" class="link-ev">Voir plus...</a>
                    </div>

                </div>

                <div class="event-flex">

                    <div class="event-image">
                        <img src="../../../../assets/ressources/image/mission/mission-1.jpg" alt="">
                    </div>

                    <div class="event-info">
                        <a href="" class="re-1">
                            2020-07-06 14:39:17
                        </a>
                        <h4 class="re-2"><a href="">La fondatrice et ses personnels</a></h4>
                        <p class="re-3">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo error at, nihil
                            dolorum, culpa consequatur eveniet, animi accusantium adipisci natus vi ...
                        </p>
                        <a href="?p=single&id=<?= $publique->num_news ?>" class="link-ev">Voir plus...</a>
                    </div>

                </div>
            </div>
        </div>

    </div>


            <!------------------------------------DEBUT FUTURE-APROPOS ------------------------------------>
        <!------------------------------------DEBUT FUTURE-APROPOS ------------------------------------>
        <div class="future-apropos">
            <div class="future-image-a"></div>
            <div class="future-a-1">
                <div class="future-a-text">
                    <h2 class="re-5">PERSPECTIVES D'AVENIR</h2>
                </div>

                <div class="section-future-a">
                    <div class="s-future-1-a">
                        <span><i class="fa fa-globe"></i></span>
                        <p class="re-6">Expansion de CONGO ESPOIR sur toute l'étendue de la République
                            Démocratique du Congo</p>
                    </div>
                    <div class="s-future-1-a">
                        <span><i class="fa fa-book"></i></span>

                        <p class="re-6">Création d'une école pour la scolarisation des enfants
                            orphelins,
                        </p>
                    </div>
                    <div class="s-future-1-a">
                        <span><i class="fa fa-hospital-o"></i></span>
                        <p class="re-6">Création d'un centre médical pour la prise en charge médicale
                            des
                            enfants orphelins</p>
                    </div>
                    <div class="s-future-1-a">
                        <span><i class="fa fa-cogs"></i></span>
                        <p class="re-6">Un centre d'apprentissage aux métiers</p>
                    </div>
                </div>
            </div>
        </div>

        <!------------------------------------FIN FUTURE-APROPOS ------------------------------------>
        <!------------------------------------FIN FUTURE-APROPOS ------------------------------------>


</div>

<app-footer></app-footer>