<div class="site-body">
        <!------------------------------------DEBUT PARTAINER ------------------------------------>
    <!------------------------------------DEBUT PARTAINER ------------------------------------>

    <div class="partainer">
        <div class="partainer-1">
            <div class="part-logo">
                <img src="../../../../assets/ressources/image/partainer-logo/c-logo-1.png" alt="">
            </div>

            <div class="part-logo">
                <img src="../../../../assets/ressources/image/partainer-logo/c-logo-2.png" alt="">
            </div>

            <div class="part-logo">
                <img src="../../../../assets/ressources/image/partainer-logo/c-logo-3.png" alt="">
            </div>

            <div class="part-logo">
                <img src="../../../../assets/ressources/image/partainer-logo/c-logo-4.png" alt="">
            </div>

            <div class="part-logo">
                <img src="../../../../assets/ressources/image/partainer-logo/c-logo-5.png" alt="">
            </div>
        </div>
    </div>

    <!------------------------------------DEBUT PARTAINER ------------------------------------>
    <!------------------------------------DEBUT PARTAINER ------------------------------------>
    <footer class="footer">
        <div class="footer-1">
            <div class="section section-1">
                <h6>A propos</h6>
                <p>
                    L'Association CONGO ESPOIR, COE en sigle, a été créé en date du 06 Octobre 2006 à l'initiative de
                    Madame KIBIBI LUKINDE Nancy qui réunit autour d'elle un groupe des personnes pour essayer d'apporter
                    des solutions aux problèmes de l'enfant orphelin qui est en situation difficile.
                </p>
            </div>

            <div class="section section-2">
                <h6>nos liens</h6>
                <div class="nav-footer">
                    <div class="nav-f-1">
                        <ul>
                            <li><a href="index.php?p=acceuil">acceuil</a></li>
                            <li><a href="index.php?p=galerie">galerie</a></li>
                            <li><a href="index.php?p=apropos">a propos</a></li>
                        </ul>
                    </div>

                    <div class="nav-f-1">
                        <ul>
                            <li><a href="index.php?p=evenement">evenement</a></li>
                            <li><a href="index.php?p=contacts">contact</a></li>
                            <li><a href="index.php?p=donation">donation</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="section section-4">
                <h6>CONGO ESPOIR EN IMAGE</h6>
                <div class="gallery-f-1">
                    <div class="image-f">
                        <img src="../../../../assets/ressources/image/footer-image/footer-1.jpg" alt="">
                    </div>

                    <div class="image-f">
                        <img src="../../../../assets/ressources/image/footer-image/footer-2.jpg" alt="">
                    </div>

                    <div class="image-f">
                        <img src="../../../../assets/ressources/image/footer-image/footer-3.jpg" alt="">
                    </div>

                    <div class="image-f">
                        <img src="../../../../assets/ressources/image/footer-image/footer-4.jpg" alt="">
                    </div>

                    <div class="image-f">
                        <img src="../../../../assets/ressources/image/footer-image/footer-5.jpg" alt="">
                    </div>

                    <div class="image-f">
                        <img src="../../../../assets/ressources/image/footer-image/footer-6.jpg" alt="">
                    </div>

                    <div class="image-f">
                        <img src="../../../../assets/ressources/image/footer-image/footer-7.jpg" alt="">
                    </div>

                    <div class="image-f">
                        <img src="../../../../assets/ressources/image/footer-image/footer-8.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="ligne-footer"></div>
            <div class="master-footer">
                <div class="master-f-text">
                    <p>Copyright &copy; 2020 Design by <a href=""><span class="bigger">Bigger dream
                                Innovation</span></a><br>
                        <span>+243 852277379 +243 815788390</span><br>
                        biggerdreamino@gmail.com
                    </p>
                </div>

                <div class="master-f-menu">
                    <ul>
                        <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-whatsapp"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
</div>