<div class="site-body">
    <app-nav></app-nav>
    <div class="debut">
        <div class="fond-debut">
            <div class="fond-d-text">
                <h2 class="re">galerie</h2>
                <div class="fond-link re-6">
                    <a href="index.php?p=accueil">accueil <i class="fa fa-arrow-right"></i></a>
                    <a href="index.php?p=galerie">galerie</a>
                </div>
            </div>
        </div>
    </div>

    <div class="galerie">

        <div class="album">
            <h1>Congo Espoir en image </h1>
            <div class="ensemble">
                <div class="ensemble-1">
                    <div class="image-g">
                        <img src="../../../../assets/ressources/image/galerie/congo-1.jpg" alt="">
                    </div>

                    <div class="image-g">
                        <img src="../../../../assets/ressources/image/galerie/congo-2.jpg" alt="">
                    </div>

                    <div class="image-g">
                        <img src="../../../../assets/ressources/image/galerie/congo-12.jpg" alt="">
                    </div>

                    <div class="image-g">
                        <img src="../../../../assets/ressources/image/galerie/congo-10.jpg" alt="">
                    </div>

                    <div class="image-g">
                        <img src="../../../../assets/ressources/image/galerie/congo-5.jpg" alt="">
                    </div>

                    <div class="image-g">
                        <img src="../../../../assets/ressources/image/galerie/congo-3.jpg" alt="">
                    </div>

                    <div class="image-g">
                        <img src="../../../../assets/ressources/image/galerie/congo-9.jpg" alt="">
                    </div>

                    <div class="image-g">
                        <img src="../../../../assets/ressources/image/galerie/congo-11.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>